<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TrelloAppKey" value="fb62913bb1552bbf41115aad6d77c7b3"/>
    <add key="TrelloToken" value="18d9eea1970f7edfed37bdbdee1a9aa1268ac6c75e10fbd39af9d0e6915c48c2"/>
    <add key="TrelloBoardID" value="5cc0d7d09b5b7817bdf2d361"/>
    <add key="TrelloURL" value="https://api.trello.com/1/"/>
    <add key="AirTableKey" value="keyfseO5HOAkHKLZ4"/>
    <add key="AirTableURL" value="https://api.airtable.com/v0/appzpYdLM1kD0eDkx/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>